{% load static %}
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}" />
    <script src="{% static 'JS/bootstrap.js'%}"></script>
    <script src="{% static 'JS/script.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--extra links-->
    {% block extra_links %}
    {% endblock %}
    <!--extra links end-->
</head>

<body>
    <div class="container-fluid">
        <!--navbar include-->
        {% include "navbar1.html" %}
        <!--navbar include-->
        <!--content-->
        {% block content %}
        {% endblock %}
        <!--content end-->
        <!--footer include-->
        {% include "footer.html" %}
        <!--footer include-->
    </div>
</body>

</html>