{% load static %}
<!--FOOTER-ICON-->
        <div class="row mt-3 footer-icons" style="background-image: linear-gradient(270deg, #9b4b90 0, #2c215d);">
            <div class="col-sm-8 mx-auto">
                <span class="text-canter text-white" style="font-size: 16px;">Get Connected with us on social networks
                </span>
                <span style="margin-left: 30px;" class="span-icon">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f text-center" style="background: #4867AA;"> </i>
                    </a>
                    <a href="#">
                        <i style="top: -3px; left: -6px; position: relative;">
                            <img src="{% static 'IMAGES/irctc-whatsapp.png'%}" alt="" style="height: 50px;">
                        </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube text-center" style="background: #ff0000;"> </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram text-center" style="background: #2e5e86;"> </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin text-center" style="background: #0270ad;"> </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-telegram text-center" style="background: #39a2e0;"> </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-pinterest text-center" style="background: #c51f26;"> </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-tumblr text-center" style="background: #3c576c;"> </i>
                    </a>
                    <a href="#">
                        <i style="top: -3px; left: -6px; position: relative;">
                            <img src="{% static 'IMAGES/Koo.png'%}" alt="" style="height: 50px;">
                        </i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-twitter text-center" style="background: #4c9be5;"> </i>
                    </a>
                </span>
            </div>
        </div>
        <!--footer-->
        <div class="row" style="background-color: #2c215d;">
            <div class="footer">
                <div class="foot-link">
                    <ul>
                        <li class="footer_headings"><a href="#">IRCTC Trains</a></li>
                        <li class="footer_headings"><a href="#">General Information</a></li>
                        <li class="footer_headings"><a href="#">Importent Information</a></li>
                        <li class="footer_headings"><a href="#">Agents</a></li>
                        <li class="footer_headings"><a href="#">Enquires</a></li>
                    </ul>
                </div>

                <div class="foot-link">
                    <ul>
                        <li class="footer_headings"><a href="#">How To</a></li>
                        <li class="footer_headings"><a href="#">IRCTC official App</a></li>
                        <li class="footer_headings"><a href="#">Adverties with us</a></li>
                        <li class="footer_headings"><a href="#">Refund Rules</a></li>
                        <li class="footer_headings"><a href="#">Person With Disability Facilities</a></li>
                    </ul>
                </div>

                <div class="foot-link">
                    <ul>
                        <li class="footer_headings"><a href="#">IRCTC eWallet</a></li>
                        <li class="footer_headings"><a href="#">IRCTC Co-branded Card Benefits</a></li>
                        <li class="footer_headings"><a href="#">IRCTC-iPAY Payment Gateways</a></li>
                        <li class="footer_headings"><a href="#">IRCTC Zone</a></li>
                        <li class="footer_headings"><a href="#">DMRC ticket Booking at IRCTC</a></li>
                    </ul>
                </div>

                <div class="foot-link">
                    <ul>
                        <li class="footer_headings"><a href="#">For Newly Migrated Agents</a></li>
                        <li class="footer_headings"><a href="#">Mobile Zone</a></li>
                        <li class="footer_headings"><a href="#">Policies</a></li>
                        <li class="footer_headings"><a href="#">Ask Disha ChatBot</a></li>
                        <li class="footer_headings"><a href="#">About us</a></li>
                    </ul>
                </div>

                <div class="foot-link" style="float: right;">
                    <ul>
                        <li class="footer_headings"><a href="#">Help & Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bg-dark text-center mt-2">
            <div class="col-sm-12">
                <p style="font-size: 15px; color: white;">&copy; Copyright Reserved by IRCTC.<br>Redesigned by Neeraj Kumar Maurya</p>
            </div>
        </div>