* {
    color: #213D77;
}

.container-fluid {
    overflow-x: hidden;
}

.col-sm-10 .row ul {
    list-style-type: none;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

.col-sm-10 .row ul li {
    margin-top: 5px;
    padding: 0px 5px;
    display: inline-block;
}

.col-sm-10 .row ul li a {
    text-decoration: none;
    color: black;
    padding: 4px;
    margin: 4px;
}

.col-sm-10 .row ul li a:hover{
    background-color: #213D77;
    color: white;
    border-radius: 5px;
}

.footer-icons {
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin-bottom: .25rem;
    font-size: xx-large;
    background-image: linear-gradient(270deg, #9b4b90 0, #2c215d);
    animation-name: fadeIn;
    line-height: 55px;
}

.footer-icons .span-icon a i {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 7px 5px;
    line-height: 47px;
    border-radius: 50%;
    padding: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-size: 16;
}

.footer {
    width: 90%;
    margin: auto;
}

.foot-link {
    width: 20%;
    padding: 20px;
    float: left;
}
.footer_headings{
    text-align: left;
    display: list-item;
    list-style: disc;
    color: white;
    margin: 4px;
    margin-top: 10px;
}
.footer_headings a{
    padding: 4px;
    color: white;
    text-decoration: none;
}
div span a{
    color: transparent;
    background: none;
}